<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOURSE de LIVRES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .logo, footer {
            text-align: center;
        }
        hr {
            margin-bottom: 2em;
        }
        /* #author{
            width: 200%;
        } */
        .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .btn {
            background-color: #fff;
            padding: .5em;
        }

        .Prete {
            background-color: red;
        }

        .EnStock {
            background-color: green;
        }

        .Rupture {
            background-color: rgb(10, 189, 243);
        }
        .Prete,
        .EnStock,
        .Rupture {
            color: #fff;
            text-align: center;
            border-radius: 2em;
            font-weight: bold;
        }
        button {
            margin: auto;
            width: inherit;
            background-color: goldenrod;
            border: none;
        }
th{
    align-self: center;
}
        td{
            width: 20rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}


    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgBxIVF4O7V--xHlcaQmDG_RP8HPPds1hbQ&usqp=CAU" alt="logo">
        </div>
        <hr>
            
            <body>
                <%if(livre.length){%>
                    <% livre.forEach(function(livre){ %>
                            <h1>
                                <%= livre.title %>
                            </h1>
                            
                            <p>
                                <%= livre.description %>
                            </p>
                            <div container>
                                <span class="<%= livre.status %>">
                                    <%= livre.status %>
                                </span>
                                <span>
                                    <%= livre.author %>
                                </span>
                            </div>
                        
                        <% }) %>
                            <% }else{ %>
                                
                                    <h1 colspan="3">No livres</>
                                
                                <% } %>
            </body>
        <footer>
            <p>Cours de NodeJS - <a href="https://www.agiliteach.org">Agiliteach</a></p>
        </footer>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>