<!DOCTYPE html>
<html lang="fr" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOURSES LIVRES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .logo, footer {
            text-align: center;
        }
        hr {
            margin-bottom: 2em;
        }
        /* #author{
            width: 200%;
        } */
        .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .btn {
            background-color: #fff;
            padding: 
            5em;
        }

        .poub{
            color: black;
        }

        .Rupture {
            background-color: red;
        }

        .EnStock {
            background-color: green;
        }

        .Prete {
            background-color: rgb(10, 189, 243);
        }
        .Prete,
        .EnStock,
        .Rupture {
            color: #fff;
            text-align: center;
            border-radius: 2em;
            font-weight: bold;
        }
        button {
            margin: auto;
            width: inherit;
            background-color: goldenrod;
            border: none;
        }
   
        th{
            text-align: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgBxIVF4O7V--xHlcaQmDG_RP8HPPds1hbQ&usqp=CAU" alt="logo">
        </div>
        <hr>

        <div class="container">
            <form action="/livres/create" method="POST">
                <div class="grid">
                    <label for="firstname">
                        <input type="text" id="title" name="title" placeholder="Titre du livre" required>
                    </label>

                    <label for="author"><input type="text" id="author" name="author" placeholder="Auteur" required></label>

                    <select id="status" name="status" required>
                        <option value="" selected>Selectionnez un statut</option>
                        <option value="EnStock">en stock</option>
                        <option value="Rupture">rupture</option>
                        <option value="Prete">preté</option>
                    </select>
                </div>
                <label for="img"><input type="text" id="img" name="img" placeholder="url image" required></label>
                <label for="description">
               <textarea name="description" id="description" cols="30" rows="10" placeholder="Description du livre" required></textarea>
                    </label>
                
                <button type="submit">Enregistrer</button>
            </form>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Description</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%if(livres.length){%>
                    <% livres.forEach(function(livre){ %>
                        <tr>
                            <td>
                                <%= livre.title %>
                            </td>
                            <td>
                                <%= livre.author %>
                            </td>
                            <td>
                                <%= livre.description %>
                            </td>
                            <td>
                                <p class="<%= livre.status %>">
                                    <%= livre.status %>
                                </p>
                            </td>
                            <td class="actions">
                                <a class="btn" href="/livre<%= livre.id %>">
                                    <iconify-icon icon="ion:eye-sharp"width="32" alt="Voir"></iconify-icon>
                                </a>

                                <a class="btn poub" href="/livres/delete/<%= livre.id %>"alt="Supprimer">
                                    <iconify-icon icon="material-symbols:delete" width="32"></iconify-icon>
                                        
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                            <% }else{ %>
                                <tr>
                                    <td colspan="3">No livres</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
        <footer>
            <p>Cours de NodeJS - <a href="https://www.agiliteach.org">Agiliteach</a></p>
        </footer>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>