<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOURSE de LIVRES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .logo, footer {
            text-align: center;
        }

        .Rupture {
            background-color: red;
        }

        .EnStock {
            background-color: green;
        }

        .Prete {
            background-color: goldenrod;
        }
        .Prete,
        .EnStock,
        .Rupture {
            color: #fff;
            text-align: center;
            border-radius: 2em;
            font-weight: bold;
        }
        button {
            align-self: center;
            margin: auto;
            width: 15rem;
            background-color: goldenrod;
            border: none;
        }
p{
    padding-top: 2rem;
}
.span{
    padding: 1rem;
}
.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 13rem;
}

    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgBxIVF4O7V--xHlcaQmDG_RP8HPPds1hbQ&usqp=CAU" alt="logo">
        </div>
        <hr>
            
            <body>
                <div class="container">
                            <h1>
                                <%= livre.title %>
                            </h1>
                            <img src="<%= livre.img %>" alt="img">
                            <p>
                                <%= livre.description %>
                            </p>
                            <div class="span">
                                <span class="<%= livre.status %>">
                                    <%= livre.status %>
                                </span>
                                <span>
                                    <%= livre.author %>
                                </span>
                            </div>
                        </div> 
                        <a class="btn" href="/livres"><button> 
                            <iconify-icon icon="icon-park:return" width="32"></iconify-icon>
                        </button></a>
            </body>
        <footer>
            <p>Cours de NodeJS - <a href="https://www.agiliteach.org">Agiliteach</a></p>
        </footer>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>